@import url("fonts.css");
@import "tailwindcss";

@theme {
    --font-Times: "Times New Roman", sans-serif;
    --font-greatvibes: "GreatVibes", sans-serif;
}

:root {
    --swiper-theme-color: rgb(207, 207, 207) !important;
}

body {
    font-family: GreatVibes;
}

.container {
    max-width: 620px;
    width: 100%;
    margin: 0 auto;
    background: white;
    min-height: 100vh;
}

.swiper-pagination {
    padding: 5px 0;
    background: rgba(15, 15, 15, 0.378);
    border-radius: 20;
}

